<p> <%= link_to "Login now Healthcare Provider!",  loginHGO_path  %></p>
<p> <%= link_to "Sign up now Healthcare Provider!",  signupClinic_path  %></p>
<p> <%= link_to "Login now as Vendor!", loginVendor_path %></p>
<p> <%= link_to "Sign up now as Vendor!", signupVendor_path %></p>



