<!-- Page layout is linked to the 'login' layout (in the controller) -->

<div id = "login_content">
<br><br><br>

<table id = "table_login">
	<tr>
		<th><h3>Healthcare Organizations</h3></th>
		<th><h3>Healthcare Vendors</h3></th>
	</tr>
	<tr>
		<td><%= link_to "Login as a Healthcare Provider!",  loginHGO_path  %><br><br>
			<%= link_to "Sign up as a Healthcare Provider!",  signupClinic_path  %>
		</td>
		<td><%= link_to "Login as a Vendor!", loginVendor_path %><br><br>
			<%= link_to "Sign up as a Vendor!", signupVendor_path %>
		</td>
	</tr>
</table>





	<br><br><br>
	<br><br><br>

</div>


