<h1>Compare Products!</h1>
<% if @Favorites.empty? %>
  <p>No products in Favorites</p>
<% else %>
<%= link_to "Empty Favorite cart", compare_clear_path %>
<% end %>
<br><br><br>

<!-- Accessing the compare session hash ["1",1], where "1" is the product id.
-->

<% @compare.each do |id, qty| %>
  <% product = Product.find_by_id(id) %>
  
  <ul>
  <li>
    <%= link_to product.name, product %>
    <p><%= product.description %></p>
  </li>
  </ul>

<% end %>



  
    <br><br>
    <!-- Page Content -->
    <div class="container">

        <div class="row">


            <div class="col-md-9">


                <!--COMPARE PRODUCT BUTTON (start)-->
                
                <!--COMPARE PRODUCT BUTTON (end)-->

                <br/><br/><br/>

                
                
                    <!--PRODUCT LIST (start)-->
                    <%= render "listfavorites" %>
                    <!--PRODUCT LIST (end)-->
            </div>

        </div>

    </div>
    


