<!-- Page Content -->
<div class="container">
    <div class="row">
        <h1>Favorite Products</h1>

        <!--TESTING (start)-->
        <!--<%= render "test" %>-->
        <!--TESTING (end)-->
       


        <h4 style="color: red"><%=@message%></h4>
        <div class="col-md-9">
            
            <!--PRODUCT LIST (start)-->
            <%= render "listfavorites" %>
            <!--PRODUCT LIST (end)-->
        </div>

    </div>

</div>
    


