<h1>Messages</h1>

<%= link_to "New Conversation", new_conversation_path, class: "btn btn-default filter-col", onmouseover: "this.style.color='black'" %>

<br><br>

<h4>Your Conversations:</h4>
<div>
<strong>Message Subject<br></strong>
<% @conversations.each do|conversation| %>

		&nbsp;&nbsp;<%= link_to conversation.subject, conversation_path(conversation)%><br>
		
<%end%>
</div>
