<!-- added about page and added content from olayithealth.com (the real olayit site) -->

<div id = "about_page">


	<h1>About OlayIT™<h1><br>
	<p>Through its global web-based interface, OlayIT™ strategically markets and connects healthcare technology manufactures to healthcare organizations. OlayIT's mission is to make healthcare innovation adoption easier and faster at healthcare organizations.</p>
	<br>
	<p>Want to learn more or join? Contact us at the following numbers, or use our <a href = "#">contact form.</a> We look forward to speaking with you!</p>

	<p class = "tab">
	Phone:(224) 818-6529 <br>
	Email: info@olayithealth.com <br>
	Address: 13 Genesee Street Waukegan, IL 60085
	
	</p>
	
</div>