 <div class="container">
 	<div class="col-xs-12"; style="text-align:center;">
  		<img src="../../assets/logo_black" width="500" height="500"> </a>
 	</div>

	<div class="col-xs-12"; style="text-align:center;">
	
		<h4> At OlayIT we strive to provide Healthcare <b>Vendors</b> a way to connect with Healthcare <b>Providers</b>.</h4>
	</div>

</div>
