<!-- Need to add links to the products pages 
	and maybe an add to favorites button

	Also add the links to the about page and contact form -->


<div id = "featured_products">
	<h3>Featured Products</h3>
	<hr class = "home">
	<div id = "product1">
		<img src = "../../assets/imersifycart.jpg" alt = "http://placehold.it/320x150" class = "imgProduct">
		<br><br><a href = "../../products/2">Avteq Telemedicine Mobile Medical Cart</a>
	</div><!-- end 'product1' div -->
	
	<div id = "product2">
	
		<img src = "../../assets/telehealthbook.jpg" alt = "http://placehold.it/320x150" class = "imgProduct">
		<br><br><br>
		<a href = "../../products/3">Telehealth and Mobile Health</a>
	</div><!-- end 'product2' div -->
	
	<div id = "product3">
		<img src = "../../assets/ergotron.jpg" alt = "http://placehold.it/320x150" class = "imgProduct"">
		<br><br><a href = "../../products/4">Ergotron SV44-57T1-1 SV Telemedicine Cart</a>
	</div><!-- end 'product3' div -->
	
</div><!-- end 'featured_products' div -->

<br>

<div id = "about_olayit">
	<h3>About OlayIT</h3>
	<hr class = "home">
	<h4>At OlayIT we strive to provide Healthcare <b>Vendors</b> a way to connect with Healthcare <b>Providers.<h4>
	Learn more about our mission <a href = "about">here.</a>
</div><!-- end 'about_olayit' div -->

<div id = "contact_us">
	<h3>Contact Us</h3>
	<hr class = "home">
	<h4>Interested in learning more about OlayIT? Fill out our contact form and we'll get back to you as soon as we can!</h4>

</div><!-- end 'contact_us' div -->
<br><br>