<h1>Compare Products!</h1>
<% if @compare.empty? %>
  <p>No products to compare</p>
<% else %>
<%= link_to "Empty Compare cart", compare_clear_path, data: { confirm: 'Are you sure?' }%>
<% end %>
<br><br><br>


<!-- Accessing the compare session hash ["1",1], where "1" is the product id.
-->

<% @compare.each do |id| %>
  <% product = Product.find_by_id(id) %>
  
  <ul>

    <img src="<%= product.image %>" alt="http://placehold.it/320x150" style="width:auto;height:150px;">
    <%= link_to product.name, product %>
    

  </ul>

<% end %>
