<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#compare-panel">
    <span class="glyphicon glyphicon-th"></span> Compare Products
</button>
<br/><br/>
<div id="compare-panel" class="collapse filter-panel">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-inline" role="form">
                Compare code goes here
            </form>
        </div>
    </div>
</div>  
