// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#featured_products {
	padding: 30px;
	padding-top: 15px;
	position: relative;
	display: inline-block;
	min-width: 100%;
}

#featured_products a {
	color: black;
	font-size: 16px;
}

.home {
	border-color: black;
}

#about_olayit {
	display: inline-block;
	width: 50%;
	padding-right: 25px;
}

#contact_us {
	display: inline-block;
	width: 50%;
	float: right;
	padding-left: 25px;

}

#product1 {
	display: inline-block;
	width: 33%;
	vertical-align: top;
	text-align: center;
}
#product2 {
	display: inline-block;
	width: 33%;
	text-align: center;
	vertical-align: top;
	position: absolute;
	height: 100%;
}


#product3 {
	display: inline-block;
	width: 33%;
	float: right;
	text-align: right;
	vertical-align: top;
	text-align: center;
}

.imgProduct {
	max-width: 90%;
	width: 80%;
}