// Place all the styles related to the userpaths controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#table_login {
	border-collapse: collapse;
	width: 80%;
	margin: auto;
	max-width: 800px;
	background-color: #F5F5F5;
	box-shadow: 6px 6px 2px #D3D3D3;

}

#table_login th {
	height: 30px;
	padding: 10px;
	text-align: center;
	width: 50%;
}

#table_login td {
	height: 30px;
	padding: 30px;
	padding-bottom: 80px;
	text-align: center;
	width: 50%;
}

#table_login a {
	color: black;
}

#table_login a:hover {
	color: white;
	background-color: #00A8E8;
}