<div id = "footer">
<br>
	<div id = "footer_col1">
		<span style = "font-weight: bold;font-size: 14px;">More Information</span><br>
		<a href = "/about">About</a><br>
		<a href = "#">Contact Form</a><br>
		<a href = "/privacy">Privacy Policy</a><br>
	</div>
	
	<div id = "footer_col2">
		<span style = "font-weight: bold; font-size: 14px;">Contact OlayIT</span><br>
		Phone: (224) 818-6529 <br>
		Email: info@olayithealth.com <br>
		Address: 13 Genesee Street Waukegan, IL 60085
	</div>
	
	<div>
	<br><br><br><br><br>
		Site created by Group 1- Raul, Ryan, Marissa, Stephanie, Josh, and Rafael- for Software Projects, Spring quarter 2016. DePaul University.

	<div>
	
</div>
