
<!-- Healthcare Organization -->

<div id = "header">
	<div id = "logo">
		<a href = "../home/index">
		<img src = "../../assets/logo_white" alt= "logo" id = "imgLogo" >  
		</a>
	</div>
	
	<div id = "search">
	Healthcare Organization
	</div>

</div>
<div id = "menu"> 
	<ul id = "orgMenu">
		<li><a href="#">Profile</a></li>
		<li><a href="#">Chat</a></li>
		<li><a href="#">Favorites</a></li>
		<li><%= link_to 'Products', product_list_path %></li>
		<li><%= link_to 'Home', home_index_path %></li>
</div>

<br><br>

