<!-- Healthcare Organization -->

<div id = "header">
	<div id = "logo">
	OlayIT
	</div>
	
	<div id = "search">
	Healthcare Organization
	</div>

</div>
<div id = "menu"> 
	<ul id = "orgMenu">
		<li><a href="#">Profile</a></li>
		<li><a href="#">Chat</a></li>
		<li><a href="#">Favorites</a></li>
		<li><%= link_to 'Products', product_list_path %></li>
		<li><%= link_to 'Home', home_index_path %></li>

</div>

