<!-- Header File -->
<!-- Separated menu from header -->

    <div id="header">
        <div id="logo">
            <a href="../home/index"><img alt="logo" id="imgLogo" src=
            "../../assets/logo_white"></a>
        </div>

        <div id="search">
			<%if logged_in? %>	
				<%= link_to "Log out", logout_path, method: "delete" %>
			<%else %>
				<%= link_to "Login", userpaths_index_path %>
			<%end %>
        </div>
    </div>
	
	
