<!-- Menu File -->
<!-- Only shown if user is logged in (either as vendor or clinic) -->
<div id="menu">
    <ul id="menu">
		<li><a href = "#">Chat</a></li>
	
    			
		<% if isvendor %>
			<li><%= link_to "Profile", current_user%></li>
		<% else %>
			<li><%= link_to "Profile", current_user%></li>
		<% end %>

		<li><%= link_to "Compare", compare_path %></li>
		
		<%if isvendor %>
			<li><a href="/products/new">Add Product</a></li>
		<% else %>
			<li><a href="/Favorites">Favorites</a></li>
		<%end%>
		
		<li><a href="/ProductList">Products</a></li>
		<li><a href="/conversations/index">Messages</a></li>

		<li><%= link_to 'Home', home_index_path %></li>
	</ul>
</div><!-- End of 'menu' div -->
	
